GOOGLE_CLIENT_ID=your_actual_google_client_id_here
JWT_SECRET=a_super_secret_string_for_jwt_tokens
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
