fastapi
uvicorn[standard]
gunicorn
python-multipart
pydantic
numpy
scikit-learn
pandas
requests
pymongo[srv]
certifi
razorpay
google-auth
PyJWT
pydantic-settings
passlib
bcrypt
email-validator
tflite-runtime
Pillow
python-multipart
